/*
Theme Name: Netflix
Author: Kenzie Academy
Author URI: kenzie.com.br;
Version: 1.0
 
--------------------------------------------
SUGESTÃO DE ESTRUTURAÇÃO BASE 
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
*/

* {
	margin: 0px;
	padding: 0px;
}

/* VARIÁVEIS */
:root{

  
  
}

/*BODY*/
	body{

		background-color: #221F20;
		font-family:'Helvetica',Helvetica,Arial,sans-serif;
	}
/*TOPO*/
	header.topo{
		
		
	}

/*RODAPÉ*/
	

/*PÁGINA INICIAL*/
	div.pg-home{

		margin: auto;

		
		
	}

.topo{
	/* margin-top: 10px auto; */
	
}
section{

	text-align: center;

}
h2{
	color: white;
	font-size: 40px;
}
h3{
	color:#221F20;
}
.usuarios {
	
    list-style-type: none;
    width: 858px;
    display: inline-block;
	margin-top: 10px;	
	line-height: 10px;
	column-count: 4;
	text-align: center;	
	

}

figure{

	padding-top: 10px;
	width: 186px;
	
}
figure img:hover{

	border: solid 2px white;
}
figure figcaption{

	text-align: center;
	padding-top: 15px;
	color: rgb(110, 109, 109);	
	font-weight: bold;

	
}
figure img{

	width: 186px;

	
}



footer button{

	background-color: #221F20;
	margin-top: 25px;
	border: solid 1px white;
	font-size: 20px;
	padding: 3px 25px 3px 25px;
	color:  rgb(110, 109, 109);
	text-transform: uppercase;

}


