*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      
   text-align: center;      
   background-image: url("../img/fundohanoi.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   margin-top: 200px ;       

}
body img{
    width: 100%;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;  
    font-size: 3rem;

}


   


 /* CSS DE TESTES COM O EVENTO ONDRAG */

 /* .droptarget {
    float: left; 
    width: 100px; 
    height: 35px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  } */

  .principal{
      display: flex;
      flex-flow: column;      
      width: 100vw;
      height: 100vh;
  }

  .torres{
     display: flex;     
     flex: 1;     
     width: 100%;
     justify-content: center;

  }

  .torres .torre{
      display: flex;
      flex-flow: column;
      align-items: center;
      flex: 1;
      width: 100%;
      min-width: 250px;
      max-width: 350px;
      height: 100%;
      min-height: 200px;
      background-color: rgba(0,0,0,0.1);
      margin: 0 15px;
      padding: 8px;
      border-radius: 10px;
      border: solid 2px white;
      box-shadow: 0 0 1em gold;
      transition: all 0.2 linear;

  }

  .torres .torre .torre-item{
      border-radius: 8px;
      padding: 10px 20px;
      text-align: center;
      margin: 4px 0;
  }

  .torres .torre .formatUm{
    background-color: white;
    width: 70px;

  }
  .torres .torre .formatDois{
   background-color: blue;    
    width: 90px;
  }
  .torres .torre .formatTres{  
    background-color: yellow;   
    width: 110px;

  }
  .torres .torre .formatQuatro{
    background-color: white;
    width: 130px;

  }

  
