
main{           
    display: inline-block;
    text-align: center;
    width: 100%;    
    height: 100vh;
    

}


#workSpace{

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Para identificar o fundo descomente a linha abaixo */
    /* background-color: orange;    */    
    padding: 10px;    
    width: 100%;
    

    

    }
        #spaceTowers{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: auto  10px;
            justify-content: space-between;
            background-color: white;
            border: solid 2px black ;
            padding: 5px 10px;
            
        }

            #towerStart{

                width: 33%;                
                margin-top: 5px;               
                display: flex;
                flex-direction: column;
                align-content: center;   
                background-color:green;                         


            }

            .itemUm{
                background-color: #f2ae1c;
                width: 60px;
                height: 20px;
                border-radius: 15%;

                

            }
            .itemDois{
                background: red;
                width: 80px;
                height: 20px;
                border-radius: 15%;
                
            }
            .itemTres{
                background: #004aad;
                width: 100px;
                height: 20px;
                border-radius: 15%;
                
            }
            .itemQuatro{
                background: #4aad;
                width: 120px;
                height: 20px;
                border-radius: 15%;
                
            }

                
            #towerOffset{
                width: 33%;                
                margin-top: 5px;               
                display: flex;
                flex-direction: column;
                align-content: center;   
                background-color:green; 
            }

            #towerEnd{
                width: 33%;                
                margin-top: 5px;               
                display: flex;
                flex-direction: column;
                align-content: center;   
                background-color:green; 

            }