*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{
    margin: 20px;
}

button{

    border-style: none;
    background-color: rgb(61, 3, 3);
    color: white;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px 15px;
    
}
button:hover{
    border-style: none;

}

textarea{
    border: solid 3px rgb(61, 3, 3);
}


