*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




h1{
    color: orange;
    text-align: center;
}

button{
    
    left: 40px;
    width: calc(100% - 80px);
    color: gray;
    padding: 20px 10px 20px 10px

}

#conteudo{

    
        
        left: 40px;
        width: calc(100% - 80px);
        min-width: 200px;
        border: solid black 1px;
        box-shadow: 1px 2px;
        background-color:yellow;
        padding: 0;
        text-align:left
        
      


}

span{
    color: white;
    font-size: large;
    background-color:green;
    
}

divgrafico{
   border: 1px solid rgb(161, 16, 16)255, 255, 255);