body {
    
   
    background-color: rgb(83, 83, 83);

  }
  
    
  .apresntacao{
    height: 100%;
    width: 100%;
  }
  .parte01{
    height: 100%;
    width: 120px;    
    display: inline-block;
    vertical-align: top;    
  }  
 .parte02{
    height: 100%; 
    width: 880px;
    display: inline-block;  
    vertical-align: top;
  }

.asside {
    float: left;
    width: 20%;
    position: fixed;
    left: 0;
  }

  .article {
    float: left;
    width: 80%;
    margin-left: 20%;
  }
  
  